[submodule "references/fluxdo"]
	path = references/fluxdo
	url = https://github.com/Lingyan000/fluxdo.git
[submodule "third_party/openwire"]
	path = third_party/openwire
	url = https://github.com/peterich-rs/openwire.git
